body {
    background-color: azure;
    color: black;
}

.blue-border {
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
}

.blue-border:hover {
    background-color: black;
    color: white;
}

li:first-child {
    color: rgb(21, 53, 141);
}

li:nth-child(2) {
    color: darkred;
}

li:nth-child(3) {
    color: magenta;
}

li:last-child {
    color: chartreuse;
}

li:only-child {
    color: rgb(26, 139, 22);
    font-size: 25px;
    font-weight: 600;
}

.linkr:link {
    color: black;
    outline: none;
}

.linkr:visited {
    text-decoration: none;
    color: rgb(146, 113, 22);
}